{% extends 'base.html' %}

{% block title %}
	О сайте
{% endblock %}

{% block content  %}
	<div class="container mt-4" style="padding-bottom: 200px;">

		<div class="row">
		  <h1>Для чего этот сайт</h1>

		  <article  style="padding-top: 40px;">
		    <p>
			    Добро пожаловать на сайт генерации паролей! Здесь вы можете создать надежные и безопасные пароли для своих
			    онлайн аккаунтов, которые будут защищены от взлома и хакерских атак. Наш генератор паролей предлагает широкий
			    выбор параметров, которые вы можете настроить под свои потребности, включая длину пароля, использование
			    символов, цифр, прописных и заглавных букв. Кроме того, вы можете выбрать уникальные условия, например,
			    исключить повторяющиеся символы или задать определенные символы, которые должны быть в пароле. Наши пароли
			    генерируются с помощью высококачественных алгоритмов шифрования, которые обеспечивают надежную защиту ваших
			    данных и конфиденциальность. Вы можете быть уверены, что ваш пароль не будет угадан или взломан. Используйте
			    наш генератор паролей для создания паролей для своих онлайн аккаунтов, включая социальные сети,
			    электронную почту, банковские и финансовые сервисы, а также любые другие сайты, которые требуют надежной
			    защиты пароля. Не рискуйте своей безопасностью в интернете - используйте надежный пароль от нашего генератора!
		    </p>
		  </article>

		</div>

	</div>
{% endblock %}