{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content  %}
<div class="card" style="width: 50%; position: absolute; top: 10%; left: 24%">
  <h5 class="card-header">Пароль сгенерирован</h5>
  <div class="card-body">
    <h5 class="card-title">Ваш пароль: {{ password }}</h5>
    <p class="card-text">Вы можете безопастно использовать этот пароль</p>
    <input type="submit" value="Обновить" class="btn btn-primary" onClick="window.location.href=window.location.href">
  </div>
</div>
{% endblock %}