{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content  %}
<div class="card container" style="width: 70%; margin-top: 80px; margin-bottom: 300px;">
  <h5 class="card-header bg-white">Ключ: {{ password.key }}</h5>
  <div class="card-body">
    <h5 class="card-title">Ваш пароль: {{ password.password }}</h5>
    <p class="card-text">Описание: {{ password.description }}</p>
    <p class="card-text">Ссылка: {{ password.link }}</p>
    <p class="card-text">Вы можете безопастно использовать этот пароль</p>
    <form method="post" action="{% url 'generator:change_password' request.user.username password.key %}">
      {% csrf_token %}
      <input type="submit" value="Поменять пароль" class="btn btn-warning">
    </form>
  </div>
</div>
{% endblock %}