{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content  %}

			<div style="margin-top: 80px; margin-bottom: 270px;">

			{% for password in passwords %}
				<div class="card container mt-4" style="width: 70%;">
				  <div class="card-body">
				    <h5 class="card-title">Ключ: {{ password.key }}</h5>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Ссылка: {{ password.link }}</li>
				    <li class="list-group-item">Ваш пароль: ********</li>
				  </ul>
				  <div class="card-body">
				    <a href="{% url 'passwords:password_detail' request.user.username password.key %}" class="card-link" style="color: #ffcd39;">Подробно</a>
				  </div>
				</div>
			{% endfor %}

			</div>

{% endblock %}





