{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content  %}
	<div class="container mt-5">
    <div class="g-5">
      <div style="width: 100%">
        <h4 class="mb-3">Ваш профиль</h4>
        <form
          action="{% url 'accounts:profile_edit' request.user.username %}"
          class="needs-validation"
        >
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Имя</label>
              <input type="text" class="form-control" id="firstName" value="{{ user.first_name }}" readonly>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="lastName" value="{{ user.last_name }}" readonly>
            </div>

            <div class="col-12">
              <label for="userName" class="form-label">Никнейм</label>
              <input type="text" class="form-control" id="userName" value="{{ user.username }}" readonly>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Почта</label>
              <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">API-ключ</label>
              <input type="text" class="form-control" id="apiKey" value="{{ user.auth_token }}" readonly>
            </div>

	          <hr class="my-4">

            <div class="col-12">
              <p class="form-label">Дата регистраци: {{ user.date_joined }}</p>
            </div>

	          <div class="col-12">
              <p class="form-label">Последний заход: {{ user.last_login }}</p>
            </div>




          </div>

          <hr class="my-4">

          <button class="btn btn-warning mt-5" type="submit" style="height: 45px; width: 100%">Редактировать профиль</button>
        </form>
      </div>
    </div>
	</div>
{% endblock %}
