<header class="p-3 bg-dark text-white">
  <div class="container">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">

      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="{% url 'passwords:home' %}"
             class="nav-link px-2
             {% if request.resolver_match.view_name  == 'passwords:home' %}
              text-warning
              {% else %}
              text-white
              {% endif %}">
            Главная
          </a>
        </li>
        {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'passwords:create_password' %}"
               class="nav-link px-2
               {% if request.resolver_match.view_name  == 'passwords:create_password' %}
                text-warning
               {% else %}
                text-white
               {% endif %}">
              Генератор
            </a>
          </li>
          <li>
            <a href="{% url 'passwords:passwords' %}"
               class="nav-link px-2
               {% if request.resolver_match.view_name  == 'passwords:passwords' %}
                text-warning
               {% else %}
                text-white
               {% endif %}">
              Ваши пароли
            </a>
          </li>
          <li>
            <a href="{% url 'accounts:profile' request.user.username %}"
               class="nav-link px-2
               {% if request.resolver_match.view_name  == 'accounts:profile' %}
                text-warning
               {% else %}
                text-white
               {% endif %}">
              Профиль
            </a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'about:about' %}"
             class="nav-link px-2 text-white">
            О сайте
          </a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
        <div class="text-end">
          <a href="{% url 'accounts:logout' %}" class="btn btn-warning">Выход</a>
        </div>
      {% else %}
        <div class="text-end">
          <a href="{% url 'accounts:login' %}" class="btn btn-outline-light me-2">Авторизация</a>
          <a href="{% url 'accounts:signup' %}" class="btn btn-warning">Регистрация</a>
        </div>
      {% endif %}

    </div>

  </div>
</header>